@import url(https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap);

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(0, 0, 0);
}

header {
  width: 100%;
  height: 400px;
  font-size: 100px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  -webkit-text-stroke: 2px black;

  border: 1px solid #000;

  background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.introduce {
  color: white;
  margin-top: 0px;
  min-height: 500px;
  border: 1px solid white;
  padding: 50px;

  text-align: center;
  font-size: 30px;
}

.menu {
  position: sticky;
  top: 20%;
  background-color: transparent;
  border-radius: 5px;
  gap: 5px;
}

.menu button {
  display: block;
  height: 70px;
}

.btndiv {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px;
  margin: 20px 0;
}

.btndiv .btn.btn-outline-light {
  height: 70px;
  width: 30%;
  margin-right: 10px;
  font-size: 30px;
}


.row-cols-md-4>* {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
}

.cards {
  height: 800px;
  width: 100%;
  padding: 100px;
}

.img_cards {
  height: 500px;
}

.savebutton>button {
  margin-left: 80%;
}